[submodule "Simulation/Vendor/bullet3"]
	path = Simulation/Vendor/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Simulation/Vendor/glad"]
	path = Simulation/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
